body {
  background-color: black;
  color: white;
}
header {
  text-align: center;
  background: url("http://photos2.meetupstatic.com/photos/event/2/a/3/2/highres_226150802.jpeg");
  background-size: cover;
  color: #DDD;
  padding-bottom: 20px;
}
article {
  padding: 12px 0px 0px 0px;
  max-width: 660px;
  margin: 0 auto;
  color: white;
  font-family: Arial;
}
h1.frontpage {
  font-family: Arial;
  margin: 20px;
}
h1 {
  font-family: Arial;
}
p {
  font-family: Helvetica;
}
img {
  margin: 40px 0px 0px 0px;
  border: 8px solid white;
  border-radius: 20px;
}
div.frontpage {
  font-size: 20pt;
  margin-left: 20px;
}
hr {
  size: 6;
  color: white;
}
#bigtext {
  text-align: justify;
  font-family: Helvetica;
}
#backtoindex {
  text-align: center;
}
